// productsPage

.productsMainContent {
    
    section {
        padding: 75px 0;
    }

    h2 { 
        text-align: center;
    }

    // flex parent
    .products {
        display: flex;
        flex-wrap: wrap;
        li {
            // flex basis controls the dimentions of the flex-CHILD
            
            // because we are using the default flex direction value (row) the main axis of alignment is the x-axis. Therefore flex basis will represent the width property. 
            flex-basis: calc((100% /3) - 30px);
            margin: 5px 15px;
            text-align: center;
        }
        img {
            border-radius: 10px;
        }
    }
    .popularProduct {
        font-weight: bold;
    }

    // PLSFIXTHIS is there a more elegant solution to unapplying the CSS to the nested span
    .discountedPrice {
        text-decoration: line-through;
        color: rgba($primary, $alpha: 0.5);
        span {
            display: inline-block;
            text-decoration: none;
            color: rgba($primary, $alpha: 1);
        }
    }
}

.guarantees { 
    background-color: $quaternary;
    position: relative;

    h2 {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 0.6rem;
        margin: 0;
    }

    p {
        font-size: 0.5rem;
        line-height: 1rem;
    }


    &::before {
        content: "";
        background-image: url(../assets/wave-3.svg);
        background-color: $quaternary;
        background-position: top center;
        background-size: 1500px 60px;
        background-repeat: repeat-x ;
        position: absolute;
        height: 3rem;
        left: 0;
        right: 0;
        top: -60px;
    }

    ul {
        display: flex;
        li {
            margin: 0 20px;
            width: calc(25% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}















